@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.swiper {
  position: static;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}
