@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("modern-normalize/modern-normalize.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

.btn-gradient {
  @apply bg-size-200 bg-pos-0 hover:bg-pos-100 bg-gradient-to-tl from-orange-200 via-amber-300 to-amber-500 transition-all duration-500;
}
/* @layer utilities {
} */
